body, table, div, p, dl {
	font: 400 20px/26px Roboto,sans-serif;
}

div.line {
	font-family: monospace, fixed;
	font-size: 19px;
}

code {
	background-color: #eef0f4;
}

div.fragment {
	padding: 0 0 1px 0;
	margin: 4px 8px 4px 2px;
	background-color: #eef0f4;
	/*border: 1px solid #c4cfe5;*/
    }