name: Unit

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main

jobs:
  unit-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - shell: bash
        timeout-minutes: 2
        run: |
          make -j check LIBRPMI_TEST=y
